body {
	font-size: .75em;
	padding: 1em;
}

h1 {
	display: inline-block;
}

table {
	font-size: 1em;
	border: none;
}

td, th {
	padding: .25em .5em;
}

tr {
	border-bottom: solid 1px #ccc;
	border-top: solid 1px #ccc;
}

tr:first-child {
	border-top: none;
}

tr:nth-child(2n+1) {
	background-color: #fafafa;
}

#tabs-2-link {
	display: none;
}

#availablePlayersTable th {
	cursor: pointer;
}

#availablePlayersTable_filter {
	margin-bottom: 1em;
}

.bye_col {
	min-width: 38px;
}
.positions {
	margin-top: 1.75em;
	float: right;
}
.positions li {
	list-style: none;
	display:inline-block;
	margin-right: 1em;
	border-right: solid 1px #ccc;
	padding-right: 1em;
}
.positions li:last-child {
	border-right: none;
	margin-right: none;
}
.rank_col {
	min-width: 60px;
}
.teamTable {
	float: left;
	margin: 2em 1em;
}
.owner {
	font-size: 1.5em;
}
.cap {
	text-transform: uppercase;
}
.ctr {
	text-align: center;
}
.lt {
	text-align: left;
}
.rt {
	text-align: right;
}
.css_right {
	float: right;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}