body {
	font-size: .75em;
	padding: 1em;
}

table {
	font-size: 1em;
}

td, th {
	padding: .25em .5em;
}

tr {
	border-bottom: dotted 1px #000;
}

.cap {
	text-transform: uppercase;
}
.ctr {
	text-align: center;
}
.lt {
	text-align: left;
}
.rt {
	text-align: right;
}